---
// Header microminimalista
---

<header class="header">
  <div class="container">
    <a href="#top" class="logo">
      <img src="/logos/logo.svg" alt="Logo" class="logo-img" />
    </a>
    <nav>
      <ul class="nav">
        <li><a href="#features">Características</a></li>
        <li><a href="#products">Productos</a></li>
        <li><a href="#testimonials">Testimonios</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
